
:root {
  --ff--primary:  'Poppins', sans-serif;;
  --ff--secondary: 'Montserrat', sans-serif;

  --clr--border: rgba(0,0,0,0.3);

  --clr--text: #0b1311;
  --clr--background: #e2f3f0;

  --clr--primary: #1c7861;
  --clr--secondary: #61efce;
  --clr--accent: #00dba8;
  --clr-footer: oklch(from var(--clr--background) calc(l - .03) c h);
  --text5: hsl(165, 27%, 6%, 5%);
  --text10: hsl(165, 27%, 6%, 10%);
  --text15: hsl(165, 27%, 6%, 15%);
  --text20: hsl(165, 27%, 6%, 20%);
  --text25: hsl(165, 27%, 6%, 25%);
  --text30: hsl(165, 27%, 6%, 30%);
  --text35: hsl(165, 27%, 6%, 35%);
  --text40: hsl(165, 27%, 6%, 40%);
  --text45: hsl(165, 27%, 6%, 45%);
  --text50: hsl(165, 27%, 6%, 50%);
  --text55: hsl(165, 27%, 6%, 55%);
  --text60: hsl(165, 27%, 6%, 60%);
  --text65: hsl(165, 27%, 6%, 65%);
  --text70: hsl(165, 27%, 6%, 70%);
  --text75: hsl(165, 27%, 6%, 75%);
  --text80: hsl(165, 27%, 6%, 80%);
  --text85: hsl(165, 27%, 6%, 85%);
  --text90: hsl(165, 27%, 6%, 90%);
  --text95: hsl(165, 27%, 6%, 95%);
  --primary5: hsl(165, 62%, 29%, 5%);
  --primary10: hsl(165, 62%, 29%, 10%);
  --primary15: hsl(165, 62%, 29%, 15%);
  --primary20: hsl(165, 62%, 29%, 20%);
  --primary25: hsl(165, 62%, 29%, 25%);
  --primary30: hsl(165, 62%, 29%, 30%);
  --primary35: hsl(165, 62%, 29%, 35%);
  --primary40: hsl(165, 62%, 29%, 40%);
  --primary45: hsl(165, 62%, 29%, 45%);
  --primary50: hsl(165, 62%, 29%, 50%);
  --primary55: hsl(165, 62%, 29%, 55%);
  --primary60: hsl(165, 62%, 29%, 60%);
  --primary65: hsl(165, 62%, 29%, 65%);
  --primary70: hsl(165, 62%, 29%, 70%);
  --primary75: hsl(165, 62%, 29%, 75%);
  --primary80: hsl(165, 62%, 29%, 80%);
  --primary85: hsl(165, 62%, 29%, 85%);
  --primary90: hsl(165, 62%, 29%, 90%);
  --primary95: hsl(165, 62%, 29%, 95%);
  --secondary5: hsl(166, 82%, 66%, 5%);
  --secondary10: hsl(166, 82%, 66%, 10%);
  --secondary15: hsl(166, 82%, 66%, 15%);
  --secondary20: hsl(166, 82%, 66%, 20%);
  --secondary25: hsl(166, 82%, 66%, 25%);
  --secondary30: hsl(166, 82%, 66%, 30%);
  --secondary35: hsl(166, 82%, 66%, 35%);
  --secondary40: hsl(166, 82%, 66%, 40%);
  --secondary45: hsl(166, 82%, 66%, 45%);
  --secondary50: hsl(166, 82%, 66%, 50%);
  --secondary55: hsl(166, 82%, 66%, 55%);
  --secondary60: hsl(166, 82%, 66%, 60%);
  --secondary65: hsl(166, 82%, 66%, 65%);
  --secondary70: hsl(166, 82%, 66%, 70%);
  --secondary75: hsl(166, 82%, 66%, 75%);
  --secondary80: hsl(166, 82%, 66%, 80%);
  --secondary85: hsl(166, 82%, 66%, 85%);
  --secondary90: hsl(166, 82%, 66%, 90%);
  --secondary95: hsl(166, 82%, 66%, 95%);
  --accent5: hsl(166, 100%, 43%, 5%);
  --accent10: hsl(166, 100%, 43%, 10%);
  --accent15: hsl(166, 100%, 43%, 15%);
  --accent20: hsl(166, 100%, 43%, 20%);
  --accent25: hsl(166, 100%, 43%, 25%);
  --accent30: hsl(166, 100%, 43%, 30%);
  --accent35: hsl(166, 100%, 43%, 35%);
  --accent40: hsl(166, 100%, 43%, 40%);
  --accent45: hsl(166, 100%, 43%, 45%);
  --accent50: hsl(166, 100%, 43%, 50%);
  --accent55: hsl(166, 100%, 43%, 55%);
  --accent60: hsl(166, 100%, 43%, 60%);
  --accent65: hsl(166, 100%, 43%, 65%);
  --accent70: hsl(166, 100%, 43%, 70%);
  --accent75: hsl(166, 100%, 43%, 75%);
  --accent80: hsl(166, 100%, 43%, 80%);
  --accent85: hsl(166, 100%, 43%, 85%);
  --accent90: hsl(166, 100%, 43%, 90%);
  --accent95: hsl(166, 100%, 43%, 95%);



  --fs--h1: 3rem;
  --fs--h2: 2rem;
  --fs--h3: 1.5rem;
  --fs--body: 1rem;
  --fs--icon: 1.75rem;

  --fw--reg: 400;
  --fw--bold: 700;

  --mouse-x: unset;
  --mouse-y: unset;
}


[data-theme="dark"]{

  --clr--text: #ecf4f2;
  --clr--background: #0c1d1a;
  --clr--primary: #87e3cc;
  --clr--secondary: #109e7d;
  --clr--accent: #24ffcc;
  --clr-footer: oklch(from var(--clr--background) calc(l + .03) c h);
  --text5: hsl(165, 27%, 94%, 5%);
  --text10: hsl(165, 27%, 94%, 10%);
  --text15: hsl(165, 27%, 94%, 15%);
  --text20: hsl(165, 27%, 94%, 20%);
  --text25: hsl(165, 27%, 94%, 25%);
  --text30: hsl(165, 27%, 94%, 30%);
  --text35: hsl(165, 27%, 94%, 35%);
  --text40: hsl(165, 27%, 94%, 40%);
  --text45: hsl(165, 27%, 94%, 45%);
  --text50: hsl(165, 27%, 94%, 50%);
  --text55: hsl(165, 27%, 94%, 55%);
  --text60: hsl(165, 27%, 94%, 60%);
  --text65: hsl(165, 27%, 94%, 65%);
  --text70: hsl(165, 27%, 94%, 70%);
  --text75: hsl(165, 27%, 94%, 75%);
  --text80: hsl(165, 27%, 94%, 80%);
  --text85: hsl(165, 27%, 94%, 85%);
  --text90: hsl(165, 27%, 94%, 90%);
  --text95: hsl(165, 27%, 94%, 95%);
  --primary5: hsl(165, 62%, 71%, 5%);
  --primary10: hsl(165, 62%, 71%, 10%);
  --primary15: hsl(165, 62%, 71%, 15%);
  --primary20: hsl(165, 62%, 71%, 20%);
  --primary25: hsl(165, 62%, 71%, 25%);
  --primary30: hsl(165, 62%, 71%, 30%);
  --primary35: hsl(165, 62%, 71%, 35%);
  --primary40: hsl(165, 62%, 71%, 40%);
  --primary45: hsl(165, 62%, 71%, 45%);
  --primary50: hsl(165, 62%, 71%, 50%);
  --primary55: hsl(165, 62%, 71%, 55%);
  --primary60: hsl(165, 62%, 71%, 60%);
  --primary65: hsl(165, 62%, 71%, 65%);
  --primary70: hsl(165, 62%, 71%, 70%);
  --primary75: hsl(165, 62%, 71%, 75%);
  --primary80: hsl(165, 62%, 71%, 80%);
  --primary85: hsl(165, 62%, 71%, 85%);
  --primary90: hsl(165, 62%, 71%, 90%);
  --primary95: hsl(165, 62%, 71%, 95%);
  --secondary5: hsl(166, 82%, 34%, 5%);
  --secondary10: hsl(166, 82%, 34%, 10%);
  --secondary15: hsl(166, 82%, 34%, 15%);
  --secondary20: hsl(166, 82%, 34%, 20%);
  --secondary25: hsl(166, 82%, 34%, 25%);
  --secondary30: hsl(166, 82%, 34%, 30%);
  --secondary35: hsl(166, 82%, 34%, 35%);
  --secondary40: hsl(166, 82%, 34%, 40%);
  --secondary45: hsl(166, 82%, 34%, 45%);
  --secondary50: hsl(166, 82%, 34%, 50%);
  --secondary55: hsl(166, 82%, 34%, 55%);
  --secondary60: hsl(166, 82%, 34%, 60%);
  --secondary65: hsl(166, 82%, 34%, 65%);
  --secondary70: hsl(166, 82%, 34%, 70%);
  --secondary75: hsl(166, 82%, 34%, 75%);
  --secondary80: hsl(166, 82%, 34%, 80%);
  --secondary85: hsl(166, 82%, 34%, 85%);
  --secondary90: hsl(166, 82%, 34%, 90%);
  --secondary95: hsl(166, 82%, 34%, 95%);
  --accent5: hsl(166, 100%, 57%, 5%);
  --accent10: hsl(166, 100%, 57%, 10%);
  --accent15: hsl(166, 100%, 57%, 15%);
  --accent20: hsl(166, 100%, 57%, 20%);
  --accent25: hsl(166, 100%, 57%, 25%);
  --accent30: hsl(166, 100%, 57%, 30%);
  --accent35: hsl(166, 100%, 57%, 35%);
  --accent40: hsl(166, 100%, 57%, 40%);
  --accent45: hsl(166, 100%, 57%, 45%);
  --accent50: hsl(166, 100%, 57%, 50%);
  --accent55: hsl(166, 100%, 57%, 55%);
  --accent60: hsl(166, 100%, 57%, 60%);
  --accent65: hsl(166, 100%, 57%, 65%);
  --accent70: hsl(166, 100%, 57%, 70%);
  --accent75: hsl(166, 100%, 57%, 75%);
  --accent80: hsl(166, 100%, 57%, 80%);
  --accent85: hsl(166, 100%, 57%, 85%);
  --accent90: hsl(166, 100%, 57%, 90%);
  --accent95: hsl(166, 100%, 57%, 95%);

  --clr--border: rgba(255,255,255,0.3);
}

html,
body {
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

h3{
  margin: 0;
  padding: 0;
}
h2{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
  padding: 0;
}

.bold{
  font-weight: bold;
}

.container{
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--clr--background);
  color: var(--clr--text);
  font-family: var(--ff--primary);
  font-size: var(--fs--body);
  line-height: 1.5;
}

img {
  image-rendering: -moz-crisp-edges; 
  image-rendering: -o-crisp-edges; 
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; 
  display: block;

}

.pointer{
  cursor: pointer;
}

/* Nav */


header{
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  background-color: oklch(from var(--clr--background) calc(l + .12) c h);
  border-bottom: 1px var(--clr--border);
}

.nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

}

.nav-left{
  display: flex;
  gap: 1.5em;
  align-items: center;
  cursor: pointer;
}

.nav-left a{
  text-decoration: none;
  color: var(--text85);
  background-color: var(--secondary30);
  padding: .5em 1em;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.nav-left a:hover{
  background-color: var(--secondary50);
}

.logo{
  display: flex;
  gap: .5em;
  align-items: center;
  cursor: pointer;
}


.nav-pro{
  display: flex;
}

.cart-con{
  padding-top: .3em;
}

.pointer{
  cursor: pointer;
}
/* modal */

body.active-modal {
  overflow-y: hidden;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: oklch(from var(--clr--background) calc(l + .12) c h);
  padding: 2em 4em;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-out-btn{
  padding: .5em 1.2em;
  margin-bottom: 1em;
  background-color: rgb(213, 231, 236);
  font-size: 1.2em;
  border: none;
  border: 1px solid var(--clr--primary);
  cursor: pointer;
}

.sign-out-btn:hover{
  border: 1px solid var(--clr--accent);
}

.edit-modal{
  top: 60%;
}

.edit-modal form{
  display: flex;
  flex-direction: column;
}

.modal-content h1{
  text-align: center;

}

.modal-edit-pro-input{
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 30px;
}

/* Footer */
.footer-container{
  background-color: var(--clr-footer);
  padding: 1.5em 3em;
  margin-bottom: 5em;
}

.footer-main{
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.footer-head{
  border-bottom: 1px solid var(--clr--border);
  margin-bottom: 1.5em;
}

.footer-main div{
  display: flex;
  flex-direction: column;
}

.footer-main div a{
  all: unset;
  margin-bottom: 1em;
  cursor: pointer;
}

.footer-main div a:hover{
  color: var(--clr--primary)
}

.help{
  padding-right: 2em;
}

.bold-footer{
  font-weight: bold;
  margin-bottom: 1em;
}

/* hero */

.hero-container{
  margin-top: 7em;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.hero-left{
  width: 30%;
}

.hero-left h1{
  margin-bottom: .6em;
}

.hero-right{
  width: 60%;
}

.hero-right img{
  width: 100%;
  border-radius: 10px;
}


/* Plans */

.price{
  text-align: center;
  margin-bottom: 5em;
  position: relative;
  margin-top: 9em;
}

.price-card-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1.5em;
  gap: 36px;
}

.price-card{
  width: calc(33.333333% - 24px);
  background-color: var(--primary35);
  border-radius: 9px;
  padding: 2em;
  font-weight: bold;
}

.perk{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2em;
  text-align: start;
  gap: 1.5em;
 
}

.checkmark-p{
  color: var(--clr--primary);
  font-size: 1.5rem;
}


.a-btn{
  all: unset;
  font-weight: bold;
  background-color: oklch(from var(--clr--primary) calc(l + .15) c h);
  padding: 1em 2em;
  border-radius: 3em;
  cursor: pointer;
}

.basic{
  background-color: var(--primary10);
}

.perk-container{
  padding-bottom: 6em;

}

.perk-container p{
  margin-top: 1em;
  color: var(--clr--text);

}

.perk-btn{
  position: absolute;
  translate: -50% 0;
  bottom: 1em;
  transition: 0.3s ease-in-out;
  color: black;
}

.perk-btn:hover{
  transform: scale(1.05,1.05);
}

/* courses */
.course-container{
  margin-top: 8em;
  margin-bottom: 5em;
}

.course-content{
  display: flex;
  gap: 5em;
}

.course-info-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* course filter */

.course-filter{
  max-width: 25%;
}

.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}



.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--text25);
  border-radius: 50%;
}

.all {
  background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}


/* explore course  */

.course-info{
  display: flex;
  gap: 2em;
  border-radius: 1em;
  background-color: var(--secondary10);
  padding: 1em;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
}

.course-info img{
  width: 30%;
}

.course-summary{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.course-sumarry-price{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2em;
}

.course-sumarry-price button{
  width: 150px;
  padding:  1em.5em;
  background-color: var(--primary75);
  color: var(--clr--background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.course-sumarry-price button:hover{
  transform: scale(1.05,1.05);  
}

/* cart */
.cart-content{
  display: flex;

}

.cart-left{
  width: 70%;
}

.cart-card{
  display: flex;
  margin-bottom: 3em;
  border-top: 1px solid var(--clr--primary);
  padding: 1.5em 0;
  
}

.cart-card img{
  height: auto; 
  width: auto; 
  max-width: 20%; 
  max-height: 200px;
  margin-right: 2em;
}

.cart-sum{
  margin-left: 4em;
  background-color: var(--secondary40);
  padding: 3em;
  width: 30%;
}

.cart-sum button{
  width: 100%;
  padding: 1em 0;
  background-color: var(--primary15);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1em;
}

.cart-sum button:hover{
  background-color: var(--accent60);
}

.cart-sum-content-container{
  margin: 2em 0;
  border-top: 2px solid var(--clr--text);
  border-bottom: 2px solid var(--clr--text);
}

.cart-sum-content-container div{
  margin: 1em 0;
}

.cart-sum-content{
  display: flex;
  justify-content: space-between;
}

.cart-card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cart-card-content-top{
  display: flex;
  justify-content: space-between;
  align-items: start;
  
}

.cart-card-content-top p{
  margin: 0;
  max-width: 80%;
}

.cart-card-content-top button{
  border: none;
  background-color: var(--clr--secondary);
  border-radius: 50%;
  cursor: pointer;
}
.cart-card-content-bottom{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.cart-card-content-bottom p{
  margin: 0;
}

.quantity-btn{
  display: flex;
  border: 2px solid var(--clr--text);
  padding: .3em 0;
}

.quantity-btn p{
  margin: 0 ;
  padding: 0 1em;
}

.quantity-btn button{
  background-color: inherit;
  border: none;
  padding: 0 1em;
  cursor: pointer;
  font-size: var(--fw--bold);
  font-weight: bolder;
}

.margin-nav{
  margin-top: 9em;
}

/* student course */
.stdcourse-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  gap: 1.5em;
}

.stdcourse-card{
  width: calc(33.333333% - 3em);
  display: flex;
  gap: 1em;
  flex-direction: column;
  padding: 1em;
  border: 1px solid var(--primary30);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.stdcourse-card img{
  width: 100%;
}

.stdcourse-card button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: .5em;
  background-color: var(--text85);
  color: var(--clr--background);
  border-radius: 10px;
  cursor: pointer;
}

.stdcourse-card button:hover{
  background-color: var(--text75);
}

.stdcourse-card-content{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* checkbox */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type=checkbox] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

/* progress */

.progress-container{
  margin-top: 6em;
  display: flex;
  gap: 3em;
}

.progress-nav{
  width: 30%;
  padding: 2em;
  overflow-y: auto;
  height: 90vh;
  background-color: var(--accent5);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
}

.progress-nav-top{
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-bottom: 2em;
}

.progress-nav-top p{
  text-align: center;

}

.progress-topic{
  display: flex;
  gap: 1em;
  cursor: pointer;
  padding:  .5em;
  border-radius: 5px;
}

.progress-topic:hover{
  background-color: var(--primary10);
  transition: 0.3s ease-in-out;
}

.progress-topic-focus{
  background-color: var(--primary10);
}

.progress-topic-idx{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: white;
}

.video{
  aspect-ratio: 16/9;
  margin-bottom: 1em;
}

.lesson{
  width: 55%;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  gap: 1em;
}

.lesson-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent5);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 1em 1em;
}

.arrow-con{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .5em;
}

.arrow{
  transition: 0.3s ease-in-out;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.arrow:hover{
  background-color: var(--accent20);
}

.not-allow{
  cursor: not-allowed;
  color: var(--clr--accent);
}

.green{
  background-color: rgb(212, 64, 64);
}